```

{% extends "base.html" %}
{% block title %}About - Win95Social{% endblock %}
{% block content %}
<div class="win95-window" style="max-width: 480px;">
  <div class="win95-titlebar">
    <div class="title-left">
      <span class="title-icon"></span>
      <span>About Win95Social</span>
    </div>
    <div class="win95-titlebar-btns">
      <button disabled>_</button>
      <button disabled>&#9633;</button>
      <button onclick="window.history.back()">X</button>
    </div>
  </div>
  <div class="win95-body">
    <p class="text-bold">What is this?</p>
    <p class="text-sm">
      Online95 is a fun little thing I made in an afternoon. I got tired of them
      normal social media apps so why not make my own? I suppose it's a waste
      of time, but who are you and who am I to stop myself? Am I right?
      So, Online95 is a pretty cool social media website where you kinda just
      enjoy being around here. Y'know, enjoy the time you're here, kick some rocks
      eat some chickens, do whatever you want!
    </p>

    <hr class="win95">

    <p class="text-bold">Who made it?</p>
    <p class="text-sm">
      me :D
      Hey I'm Micheal, I live in Vietnam as of writing this line of code.
      You should seriously consider coming by!
    </p>

    <hr class="win95">

    <p class="text-bold">Is this actually associated with Microsoft?</p>
    <p class="text-sm">
      who's microsoft?
    </p>

    <hr class="win95">

    <p class="text-bold">Is my data safe?</p>
    <p class="text-sm">
      Dawg I'm not at THAT level of coding, I'm not good enough to code a data
      stealer man
    </p>

    <div class="mt-12">
      <a href="{{ url_for('communities') if user else url_for('login') }}" class="btn95">Back</a>
    </div>
  </div>
</div>
{% endblock %}


```